.container {
    margin: 0;
    padding: 0;
    width: 80vw;
    /* background-color: #fefefe; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pin1 {
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    background-color: #ffb703;
    grid-row-end: span 18;
  }
  
  .pin2 {
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    background-color: #023047;
    grid-row-end: span 25;
  }
  
  .pin3 {
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    background-color: #669bbc;
    grid-row-end: span 33;
  }
  
  .pin5 {
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    background-color: #3a5a40;
    grid-row-end: span 52;
  }
  
  
  .pin4 {
    margin: 15px 10px;
    padding: 0;
    border-radius: 16px;
    background-color: #457b9d;
    grid-row-end: span 40;
  }