* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
  margin-inline: auto;
}

.fetch-img {
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
}

.fetch-img {
  cursor: pointer;
  transition: transform 0.5s;
}

.fetch-img:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 100;
}

.gallery .images .card {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.gallery .images .fetch-img {
  z-index: 2;
  position: relative;
}

.images .details {
  position: absolute;
  z-index: 4;
  width: 100%;
  bottom: -100px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  justify-content: space-between;
  transition: bottom 0.5s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}

.images div:hover .details {
  bottom: 0;
}

button,
i {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;
}
.details button {
  background: #fff;
  font-size: 1.1rem;
  padding: 5px 10px;
}
.details .download-btn:hover {
  background: #f2f2f2;
}

.photographer {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}

.photographer i {
  font-size: 1.2rem;
  cursor: auto;
}

.photographer span {
  font-size: 1rem;
}


/* auth css */

.auth-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.auth-container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.auth-container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #03045E;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #03045E;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #03045E;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #03045E;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}