* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-img {
  height: 500px;
}

.search {
  height: 60vh;
  min-height: 500px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.search::before, .search img {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.search::before {
  content: "";
  z-index: 1;
  background: rgba(0,0,0,0.25);
}
.search img {
  object-fit: cover;
}
.search .content {
  z-index: 2;
  color: #fff;
  padding: 0 13px;
  text-align: center;
  /* position: relative; */
}
.search h1 {
  font-size: 2.65rem;
  font-weight: 600;
}
.search p {
  margin-top: 8px;
  font-size: 1.5rem;
}
.search .search-box {
  height: 55px;
  margin: 45px 0;
  position: relative;
}
.search-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  cursor: default;
  color: #8D8D8D;
  font-size: 1.4rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-left: 25px;
  background: #fff;
  border-radius: 5px;
}
.search-box input::placeholder {
  color: #929292;
}
.search-box input:focus::placeholder {
  color: #bfbfbf;
}


/* navbar */

.container{
  max-width: 1500px;
  width: 90%;
  margin: auto;
}


.menu-items{
  order: 2;
  display: flex;
}
.logo{
  /* order: 1; */
  font-size: 2.3rem;
}

.menu-items li{
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

/* new nav responsive */

/* ===== Colours ===== */
:root {
  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}


body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  /* margin-bottom: 5rem; */
  /* height: 70px; */
  width: 100%;
  background-color: transparent;
  z-index: 100;
}

body.dark nav {
  border: 1px solid #393838;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 2.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}


.nav-links li:hover a::before {
  opacity: 0;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i {
  color: var(--text-color);
}

@media (max-width: 700px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    right: -330px;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    right: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }


  .search h1 {
    font-size: 1.8rem;
  }

  .search p {
    font-size: 1.1rem;
  }
}

@media (max-width: 400px) {
  .search .content {
    margin-top: 4rem;
  }
}



/* float navbar */

.float-navbar {
  max-width: 1400px;
  display: flex;
  /* justify-content: space-around; */
  margin-inline: auto;
  margin: 0.6rem auto;
  position: relative;
}

#float-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 100;
}

/* float nav for slider query */

#float-nav-query {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

#float-nav.active {
  display: block;
}

.float-search {
  position: relative;
  width: 70%;
  height: 50px;
}

.float-search input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-left: 30px;
  background: #f7f7f7;
  border-radius: 5px;
}

.float-search i {
  position: absolute;
  right: 15px;
  width: 35px;
  top: 50%;
  cursor: default;
  color: #8d8d8d;
  font-size: 1.8rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.float-logo {
  margin-right: 2rem;
  font-size: 2rem;
}

.float-navbar .menu-items {
  position: absolute;
  right: 10px;
  top: 20%;
}

.slider-data {
  margin-top: 12rem;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.8rem; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  nav .nav-bar .logo a{
    font-size: 1.4rem; /* Adjust font size for even smaller screens */
  }
}


