* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.search {
  height: 60vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.search::before, .search img, .lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.search::before {
  content: "";
  z-index: 1;
  background: rgba(0,0,0,0.25);
}
.search img {
  object-fit: cover;
}
.search .content {
  z-index: 2;
  color: #fff;
  padding: 0 13px;
  text-align: center;
  position: relative;
}
.search h1 {
  font-size: 2.65rem;
  font-weight: 600;
}
.search p {
  margin-top: 8px;
  font-size: 1.5rem;
}
.search .search-box {
  height: 55px;
  margin: 45px 0;
  position: relative;
}
.search-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  cursor: default;
  color: #8D8D8D;
  font-size: 1.4rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.search-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-left: 25px;
  background: #fff;
  border-radius: 5px;
}
.search-box input::placeholder {
  color: #929292;
}
.search-box input:focus::placeholder {
  color: #bfbfbf;
}


/* navbar */


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
  display: none;
}

.container{
  max-width: 1500px;
  width: 90%;
  margin: auto;
}

.navbar{
  /* box-shadow: 0px 5px 10px 0px #aaa; */
  position: absolute;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
  background: transparent;
  color: white;
  margin-top: 0px;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items{
  order: 2;
  display: flex;
}
.logo{
  order: 1;
  font-size: 2.3rem;
}

.menu-items li{
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a{
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover{
  color: #ababab;
}

#explore-button, #home-button {
  cursor: pointer;
}


/* float navbar */
.float-navbar {
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  margin-inline: auto;
  margin-bottom: 2rem;
}

#float-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 100;
}


#float-nav.active {
  display: block;
}


/* old navbar */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: "Noto Serif Gurmukhi", serif;
}

.wrapper {
  max-width: 1600px;
  margin-inline: auto;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

nav {
  position: fixed;
  width: 100%;
  margin-inline: auto;
  max-width: 1600px;
  top: 0px;
  z-index: 100;
  padding: 10px 0;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
}

form {
  display: flex;
}

#search-input {
  width: 70%;
  max-width: 400px;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 50px;
  font-size: 18px;
}

#search-button, #home-button, #explore-button {
  padding: 10px 20px;
  background-color: #03045e;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0px 10px;
  font-family: "Noto Serif Gurmukhi", serif;
} */
