* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #f1faee;
  font-family: "Noto Serif Gurmukhi", serif;
  max-width: 1400px;
  margin-inline: auto;
}



h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}



nav {
  position: fixed;
 width: 100%; 
  max-width: 1400px;
  top: 0px;
  z-index: 100;
  padding: 10px 0;
  margin-inline: auto;
  background-color: #023047;
  
}


.navbar {
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
}

form {
  display: flex;
}

#search-input {
  width: 70%;
  max-width: 400px;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 50px;
  font-size: 18px;
}

#search-button {
  padding: 10px 20px;
  background-color: #03045e;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0px 10px;
  font-family: "Noto Serif Gurmukhi", serif;
}



